* {
  font-family: "Quicksand", sans-serif;
}
.hero-text {
  color: white;
  font-family: "Merienda One", cursive;
  font-size: 3.2rem;
}
.merienda {
  font-family: "Merienda One", cursive;
}
#index-main {
  background-image: url("../images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.w-85vw {
  width: 85.7vw;
}
.shadow-box {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2),
    -0.1px 0 5px 0 rgba(0, 0, 0, 0.2);
}
.img-circle-wrapper-profile {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 0;
}
.img-circle {
  width: auto;
  height: 100%;
}
.img-circle-wrapper-cert {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 0;
}
.img-circle-cert {
  width: auto;
  height: 100%;
}
.img-fit{
  object-fit: cover;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}
