* {
  font-family: "Quicksand", sans-serif;
}
.hero-text{
  color: white;
  font-family: "Merienda One", cursive;
  font-size: 3.2rem;
}
#index-main{
  background-image: url('../images/bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
